<div class="container"  style="opacity:0.97;">
   
    <div class="table-responsive">
        <table class="table  table-hover table-inverse">
            <thead>
                <!-- <th>Id</th> -->
                <th>Title</th>
                <!-- <th>Year</th> -->
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Quantity</th>

            </thead>
            <tbody>
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author.name}}</td>
                    <td>{{book.genre.name}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.quantity}}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
    <form class="form-inline" (ngSubmit)="sell()">
        <input [(ngModel)]="this.ammount"  type="text" name="srcTitle" class="form-control mb-2 mr-sm-2" id="titleSearch" placeholder="ammount">
    
        <button type="submit" class="btn btn-primary mb-2">Sell</button>
      </form>
  </div>